<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Press+Start+2P&display=swap" rel="stylesheet">
<body>
    <a href="/" class="btn btn-secondary">Back</a> 
    
    {{!-- <a href="/{{this.id}}/" class="btn btn-primary">Edit</a> --}}
   
   
    
    <h1 class="name justify-content-between align-items-center"><img src="https://i.gifer.com/origin/a1/a1c78c7b60a5f9a6a9a77d876baae618_w200.gif" height="45px" alt=""><img src="https://i.pinimg.com/originals/51/5a/8d/515a8da287ae3d77dfbf851515c63734.gif" height="65px" alt=""> {{game.name}} <img src="https://i.pinimg.com/originals/b0/87/53/b08753d58f327fe00490bb5cfa7fcf03.gif" height="65px" alt=""><img src="https://i.gifer.com/origin/64/6464831c64340f95457e2247894cf688_w200.gif" height="45px" alt=""></h1>
    <img alt='image' class="card-img"  src="{{game.image}}" alt="Card image cap" style="width: 650px;height: 400px;">
    <div class="rating"><h3>{{game.rating}}/5</h3></div>
  
    <iframe class="videos" src="{{game.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="reviews"> {{game.review}}</div>
</body>
